<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/app.css"/>
    <meta title="EECS 395 Sports Bot">
    <title>EECS 395 Sports Bot</title>
    <link rel="icon" type="image/png" href="./assets/png/N.png">
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="AppController">
        <div class="page-header">
            <h1>EECS 395 Sports Bot</h1>
        </div>

        <div id="text-entry">
            <form ng-submit="sendClicked()">
                <input class='col-xs-9 form-control text-input' type="text" ng-model="queryText"/>
            </form>
        </div>

        <div id="chat-space">
            <div ng-if="waiting">
                <div class="row">
                    <p class="CHATBOT-chat">{{waitingText}}</p>
                </div>
            </div>
            <div ng-repeat="phrase in chat" class="row">
                <p class="{{phrase.role}}-chat">
                    {{phrase.text}}
                    <span ng-if="phrase.source" >
                        <br/>
                        <a href="{{phrase.source}}" class="go-to-source">~View Source~</a>
                    </span>
                </p>
            </div>
        </div>



    </div>

    <!--LIBRARIES-->
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--APP-->

    <script type="text/javascript" src="./app/app.module.js"></script>
    <script type="text/javascript" src="./app/controller/newapp.controller.js"></script>
    <script type="text/javascript" src="app/services/questionService.js"></script>
</body>

</html>
